[global]
    frame_color = "{color8}"
    separator_color = "{color4}"

[urgency_low]
    background = "{color0}"
    foreground = "{color7}"
    timeout = 10

[urgency_normal]
    background = "{color0}"
    foreground = "{color7}"
    timeout = 10

[urgency_critical]
    background = "{color1}"
    foreground = "{color15}"
    frame_color = "{color9}"
    timeout = 0