# ~/.config/wallust/templates/kitty.tmpl

foreground            {foreground}
background            {background}
selection_foreground  {background}
selection_background  {color7}
cursor                {cursor}
cursor_text_color     {background}
url_color             {color4}
active_border_color   {color4}
inactive_border_color {color0}

# --- ADD THIS LINE FOR WALLUST TO THEME THE BELL ---
visual_bell_color     {color1} 
# You can also add other specific UI elements here if Kitty supports them as direct settings
scrollback_indicator_color {color5}
scrollbar_handle_color     {color5} 
