/* Minimalist Grid - Template */
/* Placeholders like #27292A are replaced by wallpaper.sh */

window {
    margin: auto;
    min-width: 500px;
    max-width: 60%;
    /* USE THE NEW 30% OPACITY BACKGROUND HERE */
    background-color: rgba(39, 41, 42, 0.3); 
    border: 2px solid #979595;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}
#input {
    /* We use a solid color here for legibility */
    background-color: #4C4E50;
    color: #E9E8E8;
    border: 1px solid #979595;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    outline: none;
}
#input:focus {
    border: 2px solid #83858A;
    padding: 7px;
}
#inner-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 8px;
    margin: 0px 8px 8px 8px;
}
#entry {
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.1s linear;
}
#entry:selected {
    /* USE THE NEW 80% OPACITY ACCENT FOR THE SELECTION */
    background-color: rgba(131, 133, 138, 0.8);
    color: #E9E8E8; /* Use foreground for better contrast on a transparent bg */
}
#text { color: #E9E8E8; }
#entry:selected #text { color: #E9E8E8; }